{% extends "bazinis.html" %}

{% block title %}Automobilis{% endblock %}

{% block content %}
{% load static %}

<div class="col-md-4 d-flex align-items-stretch">
    <div>
        {% if konkretus_automobilis.paveikslelis %}
        <img src="{{ konkretus_automobilis.paveikslelis.url}}" class="card-img-top" alt="...">
        {% else %}
        <img src="{% static 'img/no-image.png' %}" class="card-img-top">
        {% endif %}
    </div>
</div>
</br>
  <h5>Pasirinkto automobilio {{ konkretus_automobilis }} informacija:</h5>
<ul>
    <li>Valstybinis numeris: {{ konkretus_automobilis.valstybinis_nr }}</li>
    <li>Automobilio modelis: {{ konkretus_automobilis.automobilio_modelis }}</li>
    <li>VIN kodas: {{ konkretus_automobilis.vin_kodas }}</li>
    <li>Klientas: {{ konkretus_automobilis.klientas }}</li>
    <li>Aprašymas: {{ konkretus_automobilis.aprasymas | safe }}</li>
</ul>
{% endblock %}