<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Autoservisas</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add additional CSS in static file -->
  <style>
      {% load static %}
  </style>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<h1>Autoservisas "Garažas"</h1>
  <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li><a href="{% url 'pradzia' %}">Pradžia</a></li>
      <li><a href="{% url 'statistika' %}">Statistika</a></li>
      <li><a href="{% url 'visi_automobiliai' %}">Automobiliai</a></li>
      <li><a href="{% url 'uzsakymai' %}">Užsakymai</a></li>
    </ul>
  </div>
  </nav>
  <div>{% block content %}{% endblock %}</div>
</body>
</html>