{% extends "bazinis.html" %}

{% block title%}Užsakymas{% endblock %}

{% load static %}

{% block content %}

{% if konkretus_uzsakymas.automobilis.paveikslelis %}
    <img src="{{konkretus_uzsakymas.automobilis.paveikslelis.url}}" style="margin-bottom: 20px; width: 400px" alt="...">
{% else %}
    <img src="{% static 'img/no-image.png' %}" style="margin-bottom: 20px; width: 200px" alt="...">
{% endif %}

<h2>Užsakymo detalizacija</h2>
<ul>
    <li><strong>Užsakymo data:</strong> {{ konkretus_uzsakymas.data }}</li>
    <li><strong>Automobilio modelis:</strong> {{ konkretus_uzsakymas.automobilis.automobilio_modelis }}</li>
    <li><strong>Valstybinis numeris:</strong> {{konkretus_uzsakymas.automobilis.valstybinis_nr}}</li>
    <li><strong>Užsakymo būsena:</strong> {{ konkretus_uzsakymas.get_statusas_display }}</li>
    <li class="{% if konkretus_uzsakymas.terminas_suejo %}text-danger{% endif %}"><strong>
        Atlikimo terminas:</strong> {{konkretus_uzsakymas.atlikimo_terminas}}
    </li>
</ul>
{% if konkretus_uzsakymas.vartotojas == user %}
    <div>
         <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'vartotojo_uzsakymo_atnaujinimas' konkretus_uzsakymas.pk %}">Redaguoti</a>
         <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'vartotojo_uzsakymo_trynimas' konkretus_uzsakymas.pk %}">Ištrinti</a>
    </div>
{% endif %}
<hr>
<h2>Užsakytos paslaugos:</h2>
<table class="table table-bordered">
<thead>
<tr>
    <th scope="col">Paslauga</th>
    <th scope="col">Kaina</th>
    <th scope="col">Kiekis</th>
    <th scope="col">Suma</th>
    {% if konkretus_uzsakymas.vartotojas == user %}
    <th scope="col"></th>
    {%endif%}
</tr>
</thead>
    <tbody>
    {% for eilute in konkretus_uzsakymas.eilutes.all %}
    <tr>
        <th scope="row">{{ eilute.paslauga.pavadinimas }}</th>
        <td scope="row">{{ eilute.paslauga.kaina }}</td>
        <td scope="row">{{ eilute.kiekis }}</td>
        <td scope="row">{{ eilute.uzsakymo_eilutes_suma }}</td>
        {% if konkretus_uzsakymas.vartotojas == user %}
        <td scope="row">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'vartotojo_uzsakymo_eilutes_atnaujinimas' konkretus_uzsakymas.pk eilute.pk %}">Redaguoti</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'vartotojo_uzsakymo_eilutes_istrynimas' konkretus_uzsakymas.pk eilute.pk%}">Ištrinti</a>
        </td>
        {%endif%}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>BENDRA SUMA:</b></td>
        <td>{{ konkretus_uzsakymas.bendra_uzsakymo_suma }}</td>
    </tr>
    </tbody>
</table>

{% if konkretus_uzsakymas.vartotojas == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'vartotojo_uzsakymo_eilutes_sukurimas' konkretus_uzsakymas.pk %}">Pridėti užsakymo eilutę</a>
</div>
{%endif%}

<hr>
<h2>Vartotojų atsiliepimai</h2>
{% if konkretus_uzsakymas.atsiliepimai.all %}
    {% for atsiliepimas in konkretus_uzsakymas.atsiliepimai.all %}
        <hr>
        <strong>{{ atsiliepimas.komentatorius }}</strong>, <em>{{ atsiliepimas.atsiliepimo_data }}</em>
        <p>{{ atsiliepimas.turinys }}</p>
    {% endfor %}
{% else %}
    <p>Užsakymas neturi atsiliepimų</p>
{% endif %}
{% if user.is_authenticated %}
    <div class="fieldWrapper">
         <br/>
        <h4>Palikite atsiliepimą:</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.turinys }}
            <br/>
            <input type="submit" value="Išsaugoti">
        </form>
    </div>
{% endif %}
{% endblock %}