{% extends "bazinis.html" %}

{% block title %}Užsakymai{% endblock %}

{% block content %}
<h2>Užsakymų sąrašas</h2>
<br>
{% for uzsakymas in uzsakymai %}
 <hr>
 <img class="rounded-circle" src="{{uzsakymas.vartotojas.vartotojoprofilis.foto.url}}">
 <p>{{uzsakymas.vartotojas}}</p>
 <p><a href="{{ uzsakymas.id }}">{{uzsakymas}}</a> </p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}